.card-deck .card {
  width: calc(100% / 4 - (30px / 3));
  flex: none !important;
}
.card-img,
.card-img-bottom,
.card-img-top {
  height: 350px !important;
}
img {
  object-fit: cover !important;
}
.listColors {
  columns: 2;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  cursor: pointer;
}
